i {
  padding: 8px, 0px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header div {
  display: flex;
}
.header div a {
  text-decoration: none;
  color: black;
}
